@import url('./fonts/fonts.css');

@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #111111;
        --text-secondary: #3B3B3B;
        --background: #edf2f7;
        --background2: #a8a8a8;
        --navColor: #FAFAFA;
        --accentColor: #00a86b;
        --background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.3)), url("../images/banner.png");
        background-blend-mode: overlay;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: #FAFAFA;
        --text-secondary: #9e9e9e;
        --background: #181818;
        --background2: #2b2b2b;
        --navColor: #363636;
        --accentColor: #FAFAFA;
        --background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.3)), url("../images/banner.png");
    }
}
a:link {
    color: var(--accentColor);
}
a:visited {
    color: var(--accentColor);
}
a:hover {
    color: var(--accentColor);
}
a:active {
    color: var(--accentColor);
}
.navBar {
    background-color: var(--navColor);
}
body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}
.navButton {
    border: none;
    background-color: var(--navColor);
    color: var(--text-secondary);
    font-family: 'Renogare', sans-serif;
}
.currentButton {
    text-decoration: underline;
    color: var(--text-primary);
}
.titleDiv {
    font-family: 'Renogare', sans-serif;
}
.logoText {
    font-family: 'Renogare', sans-serif;
    color: var(--text-primary);
}
.logoTextBottom {
    color: var(--accentColor);
}
.firstTitle {
    background: linear-gradient(180deg,#c4d85e,#57d2ca, #c4d85e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 4000%;
    
    -webkit-animation: rainbowanim 10s linear infinite;
    -moz-animation: rainbowanim 10s linear infinite;
    animation: rainbowanim 10s linear infinite;
}
  
@-webkit-keyframes rainbowanim {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@-moz-keyframes rainbowanim {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@keyframes rainbowanim { 
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
.secondTitle {
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
}
.firstContentDiv {
    color: white;
}
.firstContentDiv::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: var(--background-image) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}
.secondContentDiv {
    color: white;
    text-align: right;

}
.secondContentDiv::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: var(--background-image) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}
.contentTitle {
    color: var(--accentColor);
    font-family: 'Renogare', sans-serif;
}
.footer {
    font-family: 'Renogare', sans-serif;
    color: var(--text-secondary);
}
.contentBox {
    color: var(--text-primary);
}
.accentColour {
    color: var(--accentColor);
}
.subtitle {
    font-family: 'Renogare', sans-serif;
    color: var(--text-primary);
}
.section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background2);
    border-radius: 15px;
}
.playTag {
    background-image: linear-gradient(120deg, var(--accentColor), rgb(0, 109, 199));
    text-align: center;
}
.comingSoonTag {
    background-image: linear-gradient(100deg, var(--background2), var(--background));
    color: var(--text-secondary)
}